<div class="has-background-black">




      <div class="card is-centered has-background-black">
        <div class="card-image is-48x48">
            <img src="/car2.jpg" alt="Placeholder image">
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              </div>
              </div>


<div class="columns">
  <div class="column">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/x4TllIiFUEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="column">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GvJCT4KsujQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="column">
<iframe width="560" height="315" src="https://www.youtube.com/embed/HORE_78PwGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
</div>
